.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 38px 10px; /*ナビゲーション文字列ごとの間隔*/
    border-bottom: 4px solid transparent;
    white-space: nowrap; /*文字を折り返さない*/
    text-align: center;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: black;
    background-color: white;
}

@media (max-width: 679px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color: black;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}