.Posts {
    margin: 10px 20px;
    box-sizing: border-box;
    width: auto;
}

.Posts a.active {
    display: flex;
    flex-flow: column;
    margin: 2px 0;
    padding: 0 2px;
}

.Posts a:hover {
    background: black;
    color: white;
}

/* 注意書き */
.PostsNotice {
    border: 2px dotted black;
    box-sizing: border-box;
    margin-top: 110px;
}

.PostsNotice h2 {
    color: red;
    margin: 4px 0;
    text-align: center;
}

.PostsNotice h5 {
    margin: 4px 0;
}


.Contents {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px 10px;
    text-decoration: none;
}

.Contents h3 {
    margin: 0;
}

.Contents i {
    margin-right: 10px;
}
