.Posts {
    margin: 10px 20px;
    box-sizing: border-box;
    width: auto;
}

.Posts a.active {
    display: flex;
    flex-flow: column;
    margin: 2px 0;
    padding: 0 2px;
}

.Posts a:hover {
    background: black;
    color: white;
}

.Contents {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px 10px;
    text-decoration: none;
}

.Contents h3 {
    margin: 0;
}

.Contents i {
    margin-right: 10px;
}
